.details {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 4px;
  width: 190px;
}

.detailsHolder {
  position: absolute;
  left: 0;
  top: 0;
}

.detailItem {
  width: fit-content;
  border-radius: 5px;
  font-weight: bold;
  height: 29px;
}

.detailItem:hover {
  cursor: pointer;
  color: orangered;
}

.itemWithToast {
  display: flex;
  gap: 1rem;
}

.copiedToast {
  border: 2px solid var(--text-color);
  border-radius: 5px;
  padding: 1px;
  position: relative;
}

.detailInputBox {
  width: 176px;
}

.editBtn,
.hideButton {
  width: 50px;
}
