.details {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 4px;
}

.detailsHolder {
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.detailItem {
  width: fit-content;
  border-radius: 5px;
  font-weight: bold;
  height: 29px;
}

.detailItem:hover {
  cursor: pointer;
  color: orangered;
}

.itemWithToast {
  display: flex;
  gap: 1rem;
}

.copiedToast {
  border: 2px solid var(--text-color);
  border-radius: 5px;
  padding: 2px;
  position: relative;
  transition: opacity 1s;
  font-weight: bold;
}

.detailInputBox {
  width: 176px;
}

.editBtn,
.hideButton {
  width: 70px;
}

.hideButton {
  margin-top: 5px;
  width: fit-content;
}

.copiedToast.hide {
  opacity: 0;
}

.copiedToast.show {
  opacity: 1;
}
