.individualItem,
.itemHeaders {
  display: flex;
  gap: 1rem;
  width: 100vw;
  justify-content: center;
}

.itemInfo,
.itemHeaderInfo {
  width: 125.5px;
  overflow-x: hidden;
  text-align: center;
}

.itemHeaders {
  margin-bottom: 5px;
  border-bottom: 2px solid var(--text-color);
  border-top: 2px solid var(--text-color);
  margin-top: 5px;
  font-weight: bolder;
}

.itemHeaderInfo.name,
.itemInfo.name {
  width: 125.5px;
  overflow-x: hidden;
  text-wrap: nowrap;
}
