.individualItem,
.itemHeaders {
  display: flex;
  gap: 1rem;
  width: 1500px;
}

.itemInfo,
.itemHeaderInfo {
  width: 150px;
  overflow-x: hidden;
  text-align: center;
}

.itemHeaders {
  margin-bottom: 5px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  margin-top: 5px;
  font-weight: bolder;
}

select {
  width: 150px;
}

.itemHeaderInfo.name,
.itemInfo.name {
  width: 300px;
}
