.inputDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.inputHolder {
  display: flex;
  flex-direction: column;
}

.addButton {
  height: 25px;
}

.innerInputHolder {
  display: flex;
  gap: 5px;
}
