.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
}

.modalContent {
  position: relative;
  width: 80vw;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid var(--text-color);
  border-radius: 5px;
  padding: 5px;
}

.buttonContainer {
  display: flex;
  justify-content: end;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
